<!doctype html>
</head>
<title>Twittr</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src ="{{ url_for('static', filename='util.js') }}"></script>

</head>
<div class=page>
	<h1>Twittr</h1>
	<img src="{{ url_for('static', filename='PeteTwitt.png') }}" class=header>
	<div class=metanav>
	{% if not session.logged_in %}
		<a href="{{ url_for('create_account') }}">create account</a>
		<a href="{{ url_for('login') }}">log in</a>
	{% else %}
		<a href="{{ url_for('manage_account') }}">manage account</a>
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
</div>