{% extends "layout.html" %}
{% block body %}
<h2>User Options</h2>

<form method="get">
	<dl>
		<dt><a href="/change_password">Change Password</a><br>
		<dt><a href="edit.cgi?action=add_sub&username={u}&session={s}">Add Subscriber</a><br>
		<dt>Search for user to add:
		<input type=text name="subscriber">
		<input type="submit" value="search">

		<dt><a href="edit.cgi?action=rem_sub&username={u}&session={s}">Remove Subscriber</a>
	</dl>
</form>

<a href="login.cgi?action=refresh&username={u}&session={s}">Back to main</a>

{% endblock %}